<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chess</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        font-family: "Roboto", sans-serif;
        margin: 0;
        padding: 0;
        background-color: #292929;
        color: #fff;
      }

      .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        padding: 20px;
      }

      .form-input {
        width: 100%;
        max-width: 300px;
        padding: 12px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: #404040;
        color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: border-color 0.3s ease;
      }

      .form-input:focus {
        outline: none;
        border-color: #007bff;
      }

      .button {
        padding: 12px 24px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;
      }

      .button:hover {
        background-color: #0056b3;
      }

      .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
        width: 100%;
        max-width: 1200px;
        margin-top: 20px;
      }

      .sidebar {
        background-color: #404040;
        color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }

      .board-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        background-color: #292929;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }

      .status,
      .user-count,
      .message {
        margin-top: 10px;
        font-size: 16px;
      }

      .turn-popup {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        display: none;
      }

      .turn-popup.visible {
        display: block;
      }

      .chat-container {
        background-color: #404040;
        color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }

      .chat-messages {
        max-height: 200px;
        overflow-y: auto;
        margin-bottom: 10px;
      }

      .chat-form {
        display: flex;
        align-items: center;
      }

      .chat-form input[type="text"] {
        flex: 1;
        padding: 12px;
        margin-right: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: #404040;
        color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: border-color 0.3s ease;
      }

      .chat-form input[type="text"]:focus {
        outline: none;
        border-color: #007bff;
      }

      .chat-form button {
        padding: 12px 24px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;
      }

      .chat-form button:hover {
        background-color: #0056b3;
      }

      .chessboard {
        display: grid;
        grid-template-columns: repeat(8, minmax(0, 1fr));
        grid-template-rows: repeat(8, minmax(0, 1fr));
        width: 100vw;
        height: 100vw;
        max-width: 400px;
        max-height: 400px;
      }

      .piece.white {
        color: white;
        filter: drop-shadow(0 0 2px rgba(0, 0, 0, 1));
      }

      .piece.black {
        color: black;
      }

      .flipped {
        transform: rotate(180deg);
      }

      .square {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
      }

      .square.light {
        background-color: #f0d9b5;
      }

      .square.dark {
        background-color: #b58863;
      }

      .piece {
        font-size: 36px;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .piece.draggable {
        cursor: grabbing;
      }

      .dragging {
        opacity: 0.5;
      }

      .highlight {
        outline: 2px solid rgba(0, 204, 255, 0.859);
      }

      .possible-move {
        background-color: #6eb5ff;
      }
    </style>
  </head>
  <body>
    <div class="container mx-auto">
      <div
        class="flex justify-center items-center flex-col max-w-screen-md px-5"
      >
        <input
          id="username"
          type="text"
          placeholder="Username"
          class="form-input mb-4 mt-4 py-2 px-3 rounded-lg border border-gray-300 focus:outline-none focus:border-blue-500"
        />
        <input
          id="roomName"
          type="text"
          placeholder="Room Name"
          class="form-input mb-4 py-2 px-3 rounded-lg border border-gray-300 focus:outline-none focus:border-blue-500"
        />
        <div class="flex space-x-4">
          <button
            id="createRoomButton"
            class="button bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-lg focus:outline-none"
          >
            Create Room
          </button>
          <button
            id="joinRoomButton"
            class="button bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-lg focus:outline-none"
          >
            Join Room
          </button>
        </div>
      </div>
      <div class="grid-container">
        <div class="sidebar">
          <h2 class="text-xl font-bold mb-4">Users Panel</h2>
          <ul id="usersList" class="space-y-2"></ul>
        </div>
        <div class="flex-1 flex flex-col items-center justify-center">
          <div class="chessboard w-96 h-96 border border-black"></div>
          <div class="status mt-2"></div>
          <div class="user-count mt-2"></div>
          <div class="turn-popup"></div>
          <div class="message"></div>
        </div>
        <div class="chat-container">
          <h2 class="text-xl font-bold mb-4">Chat</h2>
          <div class="chat-messages"></div>
          <form id="chatForm" class="chat-form">
            <input
              id="chatInput"
              type="text"
              placeholder="Type your message..."
              autocomplete="off"
            />
            <button type="submit" class="button">Send</button>
          </form>
        </div>
      </div>
    </div>
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.3/chess.min.js"></script>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
